[MASTER]
# Python code to execute, usually for sys.path manipulation such as
# pygtk.require().
init-hook='import sys; sys.path.append(".")'

# Files or directories to be skipped. They should be base names, not paths.
ignore=CVS,venv,__pycache__

# Use multiple processes to speed up Pylint. Specifying 0 will auto-detect the
# number of processors available to use.
jobs=1

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        too-few-public-methods,
        too-many-arguments,
        too-many-locals,
        too-many-branches,
        too-many-statements,
        too-many-positional-arguments,
        line-too-long,
        invalid-name,
        import-error,
        broad-exception-caught,
        logging-fstring-interpolation,
        unused-argument,
        possibly-used-before-assignment

[REPORTS]
# Set the output format. Available formats are text, parseable, colorized, json
# and msvs (visual studio).
output-format=text

# Tells whether to display a full report or only the messages
reports=no

[REFACTORING]
# Maximum number of nested blocks for function / method body
max-nested-blocks=5

[BASIC]
# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,ex,Run,_,id,db,up,to

# Bad variable names which should always be refused, separated by a comma
bad-names=foo,bar,baz,toto,tutu,tata

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=100

# Regexp for a line that is allowed to be longer than the limit.
ignore-long-lines=^\s*(# )?<?https?://\S+>?$

# Allow the body of an if to be on the same line as the test if there is no
# else.
single-line-if-stmt=no

[LOGGING]
# Format style used to check logging format string.
logging-format-style=old

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=4

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=no

[TYPECHECK]
# List of module names for which member attributes should not be checked
ignored-modules=